*{
    font-family: "Montserrat";
    margin: 0;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #02A28F;
    box-shadow: 0 10px 10px -5px #0000001A;
    height: 4.5rem;
}

header > h1{
    color: white;
    font-size: 2.25rem;
    padding: 0 9.75rem;
}

main{
    display: flex;
    padding: 0 9.75rem;
    gap: 1.25rem;
}

.column1{
    display: flex;
    flex-direction: column;
}

#container-image{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
}

#container-image{
    margin: 50px 0 30px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), black), url(imagens/backgroundImg.png);
    box-shadow: 0 10px 20px -5px #0000001A;
    width: 46.5rem;
    height: 24.75rem;
    background-size: cover;
    border-radius: 10px;
    color: white;
}

#container-image > h2 {
    margin-left: 20px;
}

#container-image > p {
    margin-left: 20px;
}

#container-image > p:last-child{
    margin: 0 0 20px 20px;
}

#container-posts{
    margin-bottom: 3.45rem
}

#title-posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-posts{
    background-color: #02A28F;
    box-shadow: 0 10px 10px -5px #0000001A;
    width: auto;
    height: 3.5rem;
    border-radius: 8px;
    padding: 0 1.25rem 0 1.25rem;
    color: white;
    margin-bottom: 20px;
}

#title-posts > a{
    color: white;
    font-size: 14px;
}

#container-card-posts{
    display: flex;
    gap: 20px;
}

.cards{
    display: flex;
    flex-direction: column; 
}

.cards{
    box-shadow: 0px 10px 20px 0px #0000001A;
    border-radius: 16px;
    background-color: white;
    transition: 0.3s;
}

#container-card2 > .cards-conteudo{
    gap: 3px;
}

.cards:hover{
    transform: scale(1.03);
    cursor: pointer; 
}

.img-cards{
    width: 22.6rem;
    height: 100%;
    margin: 0;
}

.cards-conteudo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1.25rem;
    width: 320px;
}

.link-azul{
    font-size: 14px;
    color: #02A28F;
    text-decoration: none;
}

.autor-data{
    font-size: 14px;
    color: #616161;
}

.conteudo{
    font-size: 14px;
    color: #000000;
}

#container-card-posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#title-postPopular{
    display: flex;
    align-items: center;
}

#title-postPopular{
    margin-top: 50px;
    padding-left: 1.25rem;
    background-color: #02A28F;
    box-shadow: 0 13px 10px 1px #0000001A;
    width: auto;
    height: 3rem;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
}

#cards-Popular{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 14px;
}

.post{
    display: flex;
}

.post{
    background-color: white;
    box-shadow: 0px 15px 10px 1px #0000001A;
    border-radius: 10px;
    height: 5rem;
    width: auto;
    padding: 10px;
    transition: 0.3s; 
}

.post:hover{
    transform: scale(1.03);
    cursor: pointer;
}
    
.imgPost{
    width: auto;
    height: 100%;
}

.postConteudo{
    margin-left: 15px;
}

.postConteudo > .data{
    margin-top: 10px;
    font-size: 12px;
    color: #616161;
    font-weight: 500;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02A28F;
    height: 48px;
    font-size: 14px;
    color: white;
}