*{
    font-family: "Montserrat";
    margin: 0;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #02A28F;
    height: 4.5rem;
}

header > h1{
    color: white;
    font-size: 2.25rem;
    padding: 0 9.75rem;
}